body,html {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Nunito', sans-serif;
}
.profile {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 7px;
  color: grey;
  opacity: 0.7;
}
.profile:hover {
  opacity: 1;
  color: #2b9604; /* green-#2b9604 skyblue-#18a9bf;
  font-size: 18px;*/
}
/*heading div*/
.mainpage {
  margin-top: -10px;
  padding: 0;
  /*background: linear-gradient(to right, #bbeff7,#18a9bf,#bbeff7);
  background: linear-gradient(to right, #98b2e6, #2952a3, #98b2e6);
  background-color:#6f92dc; refers
  background: linear-gradient(to right, #98b2e6,#2952a3,#98b2e6);*/
  background-color:#6f92dc;
}
.hometap {
  margin-top: -10px;
  padding: 0;
  /*background: linear-gradient(to right, #98b2e6, #2952a3, #98b2e6);*/
  background-color: #6f92dc;
}
.portfoliotap {
  margin-top: -10px;
  padding: 0;
  /*background: linear-gradient(to right, #9fdf9f, #2b9604, #9fdf9f);*/
  background: linear-gradient(to right, #3dc408,#3dc408,#3dc408);
}
.resumetap {
  margin-top: -10px;
  padding: 0;
  /*background: linear-gradient(to right, #ffb3d0, #ff0050, #ffb3d0);/*grey #e5e7e8*/
  background: linear-gradient(to right, #ff4d85,#ff0050,#ff4d85);
}
.hiremetap {
  margin-top: -10px;
  padding: 0;
/*  background: linear-gradient(to right,#abb7d4, #27324c, #abb7d4);/*blue #27324c violet linear-gradient(to right,#e3d0fb,#751aed,#e3d0fb);*/
background: linear-gradient(to right,#788cba,#4e6497,#788cba);
}
#timer {
  padding-top: 20px;
  padding-bottom: 1px;
  color: white;
  font-family: courier;
  font-size: 75px;
}
#h1 {
  padding-top: 10px;
  padding-bottom: 30px;
  color: white;
}
/* span tag purpose: display day of this week*/
span {
  border-top: 1px solid white !important;
  border-bottom: 1px solid white !important;
}
/* p[0] is parent element of span tag*/
#p {
  letter-spacing: 3px;
  font-size: 25px;
  color: white;
  text-align: center;
}
#menubar {
  position: fixed;
  margin: auto;
  width: 380px;/* 420px width fixed*/
  bottom: 0;
  margin-left: 515px;
  /*background-color: #e2e2e2;fixed color #f7f8f9*/
  background: -webkit-radial-gradient(#e2e2e2, #e2e2e2, #d9d9d9);
  border-radius: 100px !important;
  padding: 10px;
  margin-bottom: 7px;
  display: none;
  border: 1px solid none;
  -webkit-animation-name: slideInUp;
  -webkit-animation-duration: 0.2s;
}
#menubar  i {
  padding-left: 15px;
  padding-right: 15px;
  opacity: 0.5;
  color: grey;
}
#menubar > i {
  display: inline-block;
  padding: 25px;
}
/*hover effect for menubar icons*/
.fa-home:hover {
  opacity: 1 !important;
  color: #2952a3 !important; /* blue home-#2952a3*/
  border-bottom: 3px solid #2952a3 !important;
}
.fa-trophy {
    -webkit-animation-duration: 4s;
    -webkit-animation-delay: 0.2s;
}
.fa-trophy:hover {
  opacity: 1 !important;
  color: #2b9604 !important; /*#ccae18  yellow #ddc808  #ccae18*/
  border-bottom: 3px solid #2b9604 !important;
}
.fa-heart {
  -webkit-animation-duration: 4s;
  -webkit-animation-delay: 0.4s;
}
.fa-heart:hover {
  opacity: 1 !important;
  color: #ff0050 !important;
  border-bottom: 3px solid #ff0050 !important;
}
.fa-hand-peace-o {
  -webkit-animation-duration: 4s;
  -webkit-animation-delay: 0.6s;
}
.fa-hand-peace-o:hover {
  opacity: 1 !important;
  color: #27324c !important; /*#27324c*/
  border-bottom: 3px solid #27324c !important;
}
/* menubar respondive using media query has starts here*/
@media screen and (max-width:1370px) {
  #menubar {
    margin-left: 500px;
  }
}
@media screen and (max-width:1300px) {
  #menubar {
    margin-left: 450px;
  }
}
@media screen and (max-width:1250px) {
  #menubar {
    margin-left: 400px;
  }
}
@media screen and (max-width:1230px) {
}
@media screen and (max-width:1200px) {
  #menubar {
    margin-left: 350px;
  }
}
@media screen and (max-width:1150px) {
  #menubar {
    margin-left: 320px;
  }
}
@media screen and (max-width:1100px) {
  #menubar {
    margin-left: 300px;
  }
}
@media screen and (max-width:1050px) {
  #menubar {
    margin-left: 280px;
  }
}
@media screen and (max-width:1000px) {
  #menubar {
    margin-left: 250px;
  }
}
@media screen and (max-width:900px) {
  #menubar {
    margin-left: 230px;
  }
}
@media screen and (max-width:850px) {
  p {
    font-size: 20px !important;
    line-height: 36px !important;
  }
  #menubar {
    margin-left: 200px;
  }
}
@media screen and (max-width:800px) {
  .projects div {
    width: 100% !important;
  }
  /*heading div*/
  .mainpage {
    background-color:#6f92dc;
  }
  .hometap {
    background-color: #6f92dc;
  }
  .portfoliotap {
    background: linear-gradient(to right,#5eed5e,#15bf15,#5eed5e);
  }
  .resumetap {
    background: linear-gradient(to right, #ff3374,#ff3374,#ff3374);
  }
  .hiremetap {
  background: linear-gradient(to right,#576fa8,#576fa8,#576fa8);
  }

  #menubar {
    margin-left: 180px;
  }
  p {
    font-size: 18px !important;
    line-height: 28px !important;
  }
}
@media screen and (max-width:768px) {
  .resumecard, .hiremecard {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
}
@media screen and (max-width:700px) {
  p {
    font-size: 18px !important;
    line-height: 28px !important;
  }
  #menubar {
    margin-left: 80px;
  }
}
@media screen and (max-width:600px) {
  #h1 {
    font-size: 22px;
  }
  p {
    font-size: 18px !important;
    line-height: 28px !important;
  }
  #timer {
    font-size: 50px;
  }
  .fa-user-circle-o {
    -webkit-animation-iteration-count: 2;
  }
  #menubar {
    margin-left: 105px;
    width: auto;
  }
  #menubar  i {
    padding-left: 15px;
    padding-right: 15px;
  }
  .fa-user-circle-o {
    font-size: 50px;
  }
  .fa-home {
    font-size: 40px;
    padding-left: 15px !important;
  }
  .fa-trophy {
    font-size: 40px;
    padding-left: 15px !important;
  }
  .fa-heart {
    font-size: 40px;
    padding-left: 15px !important;
  }
  .fa-hand-peace-o {
    font-size: 40px;
    padding-left: 15px !important;
  }
}
@media screen and (max-width:480px) {
  .resumecard, .hiremecard {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
  #h1 {
    font-size: 22px;
  }
  p {
    font-size: 18px !important;
    line-height: 28px !important;
  }
  #timer {
    font-size: 50px;
  }
  .fa-user-circle-o {
    -webkit-animation-iteration-count: 2;
  }
  #menubar {
    margin-left: 60px;
  }
  .fa-home {
    font-size: 40px;
    padding-left: 15px !important;
  }
  .fa-trophy {
    font-size: 40px;
    padding-left: 15px !important;
  }
  .fa-heart {
    font-size: 40px;
    padding-left: 15px !important;
  }
  .fa-hand-peace-o {
    font-size: 40px;
    padding-left: 15px !important;
  }
  .fa-user-circle-o {
    font-size: 60px;
  }
}
@media screen and (max-width:414px) {
  #h1 {
    font-size: 22px;
  }
  p {
    font-size: 18px !important;
    line-height: 28px !important;
  }
  #timer {
    font-size: 50px;
  }
  .fa-user-circle-o {
    -webkit-animation-iteration-count: 2;
  }
  #menubar {
    width: 301px !important;
    border-radius: 37px !important;
    margin-left: 25px;
  }
  .fa-home {
    font-size: 40px;
    padding-left: 15px !important;
  }
  .fa-trophy {
    font-size: 40px;
    padding-left: 15px !important;
  }
  .fa-heart {
    font-size: 40px;
    padding-left: 15px !important;
  }
  .fa-hand-peace-o {
    font-size: 40px;
    padding-left: 15px !important;
  }
  .fa-user-circle-o {
    font-size: 60px;
  }
}
@media screen and (max-width:400px) {
  #h1 {
    font-size: 22px;
  }
  p {
    font-size: 18px !important;
    line-height: 28px !important;
  }
  #timer {
    font-size: 50px;
  }
  .fa-user-circle-o {
    -webkit-animation-iteration-count: 2;
  }
  #menubar {
    margin-left: 1px;
  }
  .fa-home {
    font-size: 40px;
    padding-left: 15px !important;
  }
  .fa-trophy {
    font-size: 40px;
    padding-left: 15px !important;
  }
  .fa-heart {
    font-size: 40px;
    padding-left: 15px !important;
  }
  .fa-hand-peace-o {
    font-size: 40px;
    padding-left: 15px !important;
  }
  .fa-user-circle-o {
    font-size: 60px;
  }
}
@media screen and (max-width:320px) {
  #h1 {
    font-size: 22px;
  }
  p {
    font-size: 18px !important;
    line-height: 28px !important;
  }
  #timer {
    font-size: 50px;
  }
  .fa-user-circle-o {
    font-size: 50px;
  }
  #menubar {
    margin-left: 5px;
  }
}
/* menubar respondive using media query end */
/* icon div background background: linear-gradient(to right, #98b2e6,#98b2e6,#98b2e6);*/
.icon {
  width: auto;
  height: 67px;
  background-color: none;
  display: block;
  position: absolute;
  margin-top: -10px;
  margin-left: none;/* fixed: margin-left 17px 47.5*   border-radius: 50%;/
  /*border: 3px solid #2952a3;*/
}
.icon div {
  color: #2952a3;
  padding-left: 18px;
  padding-right: 18px;
  margin-top: 13px;
  font-size: 40px;
}
#iconhome {
  color: #2952a3;
  border-bottom: white;
}
#icontrophy {
  display: none;
}
.iconheart {
  display: none;
}
#iconpeace {
  display: none;
}
/* resume.html styles */
iframe {
  border: none;
  height: 1600px;
  margin-top: -10px;
}
/* see more div #d6e0f5*/
.seemore {
  background-color: white;
  height: auto;
  margin: auto;
  width: 90%;
  padding-top: 10px;
}
.homecard, .portfoliocard, .resumecard, .hiremecard {
  background-color: #d6e0f5;
  margin-top: 5px;
  float: left;
  margin-left: 1%;
  width: 23.5%;
  border-radius: 17px;
  padding-top: 10px;
}
@media screen and (max-width:768px) {
  .homecard, .portfoliocard, .resumecard, .hiremecard {
    width: 49%;
  }
  .homecard > p {
    letter-spacing: 1px;
  }
  .seemore {
    width: 90%;
    margin: auto;
  }
}
@media screen and (max-width:414px) {
  .seemore {
    width: 100%;
    margin: auto;
  }
  .homecard, .portfoliocard, .resumecard, .hiremecard {
    width: 98%;
  }
}
/* hover effect for see more taps*/
.seemore a {
  color: #4775d1;
}
.homecard:hover {
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: pulse;
}
/* seemore update*/
.seemore p:nth-child(1) {
  font-size: 24px !important;
}
.seemore p:nth-child(1):hover {
  text-decoration: underline;
}
.portfoliocard:hover {
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: pulse;
}
.resumecard:hover {
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: pulse;
}
.hiremecard:hover {
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: pulse;
}
/*copyright*/
.copyrightdiv {
  background-color: white;
}
details,summary {
  padding: 7px;
  font-size: 18px;
  text-align: center;
}
/* BUG: firstproject */
.projects {
  width: 100%;/* BUG: 82% */
  height: auto;
  background-color: white;
}
.projects div {
  height: auto;/* BUG: 220px */
  width: 50%;
  background-color: #cafcb6;
  border-radius: 17px;
  margin-top: 7px !important;
  margin: auto;
}
.projects div:hover {
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 1s;
}
.projects div p {
  font-size: 24px;
  text-align: center;
}
.projects div a {
  text-align: center !important;
  font-size: 18px;
}
/* hire tap*/
.hiretap {
  height: auto;
  width: 100%;
}
.hirecontent {
  background-color: white;
}
.hirecontent p {
  text-align: center;
  font-size: 24px;
}
.followmeicons{
  width: 270px;
  height: auto;
  margin: auto;
}
.followmeicons i {
  margin-left: 10px;
  color: white;
}
/* social icons hover*/
.fa-github:hover {
  color: black;
}
.fa-envelope-o:hover {
  color: #f44242;
}
.fa-facebook-square:hover {
  color: #6a89c8;
}
.fa-whatsapp:hover {
  color: #00e600;
}
.fa-instagram:hover {
  color: #d10869;
}
/* BUG: resume tap */
.resumedata {
  margin: auto;
  width: 80%;
  height: auto;
  background-color: white;
}
.resumestart {
  border-left: 2px solid #ff0050;
}
.resumestart {
  border-left: 2px solid #ff0050;
}
.red:hover {
  color: #ff0050;
}
.green:hover {
  color: #00e600 !important;
}

.frondend, .backend, .versioncontrol {
  height: auto;
  width: 85%;
}
